.btnCategory{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #D9D9D9;
    font-size: 16px;
    border-radius: 9px;
    padding: 8px 33px;
}

.active{
    border: 3px solid #CD1F15;
}