.btnGenerate{
    border-radius: 9px;
    width: 214px;
    height: 50px;
    font-size: 18px;
    background-color: #224780;
    cursor: pointer;
    color: #fff;
}

.btnGenerate:disabled{
    cursor:auto;
}

.btnGenerate:hover{
    background-color: #173462;
}