.choicePreview{
    height: inherit;
    padding: 15px 71px 0 71px;
}

.choicePreview-wrapper{
    background-color: #E7EEF7;
}

.choiceBtns{
    height: 100%;
    display: flex;
    justify-content: space-between;
    gap: 44px;
}