.input{
    border: 1px solid #787878;
    font-size: 17px;
    border-radius: 5px;
    min-height: 46px;
    overflow-y: hidden;
    resize: none;
    padding: 12px 25px 0 25px;
}

.input::placeholder{
    color: #B7B7B7;
}

.input:focus{
    border: 1px solid #4B4B4B;
    outline: none;
}

.textarea-container {
    display: flex;
    flex-direction: column;
}

.input.toxic{
    border: 1px solid #BD2121;
}

.input.typo{
    border: 1px solid #226EE3;
}

.input.warning{
    border: 1px solid #E48311;
}