.general-information-work{
    display: flex;
    justify-content: space-between;
    margin: 10px 0 0 0;
}

.general-information-work__items{
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.general-information-work-category__categories{
    display: flex;
    gap: 40px;
    margin: 0 0 43px 0;
}

.general-information-work-category__title{
    margin-bottom: 17px;
}

