@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* ОБНУЛЕНИЕ */
*{
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,h2, h3, h4, h5, h6{font-style: inherit; font-weight: 400;}


body{
    font-family: "Inter";
}

._container{
  width: 952px;
  display: block;
  margin: 0 auto;
}

.App{
  margin: 59px;
}